*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
$ColorNav: #263238;
$ColorLogo: #888;
$ColorBlack: #000;
$ColorBg:#E5E5E5;
$ColorWhite:#ffffff;
$ColorAll_p:#8F95A5;
$ColorButton:#263238;
$ColorBox:#f5f5f5;