.main-section{
    
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: nowrap;
    
}
.main-section__img{
    z-index: -1 ;
    margin-top: -170px;
}
.main-section__titles{
    width: 650px;
    height: 500px;
}

.main-section__title{
    width: 386px;
    height: 240px;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: $ColorBlack;
}
.main-section__subtitle{
    margin: 40px 0 60px;
    width: 500px;
    height: 120px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color:$ColorAll_p;
}
.lampochka{
    position: relative;
    background-color: $ColorBg;
    top: 320px;
    left: -220px;
}
.buttom{
    @include button_main;
}
@media screen and (max-width:992px){
    .container{
        max-width: 930px;
        margin: 0 auto;
    }
    .main-section{
        position: relative;
        display: flex;
        margin-right: 50px;
        padding: 0 31px;
    }
    .main-section__titles{
        width: 450px;
        height: 500px;
    }
    .main-section__title{
        width: 290px;
    height: 192px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    }
    .main-section__subtitle{
    margin-top: 27px;
    margin-bottom: 55px;
    width: 420px;
    height: 90px;   
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    }
    .learning{
        height: 500px;
        width: 500px;
        object-fit: cover;
        object-position: center;
    }
    .lampochka{
        top: 240px;
        left: -120px;
    }
    .main-section__img{
        margin-top: -120px;
    }
    .buttom{
        @include button_main992;
    }
}
@media screen and (max-width:768px){
    .container{
        max-width: 700px;
        margin: 0 auto;
        
    }
    .main-section{
        position: relative;
        display: flex;
        padding: 0 34px;
        margin-right: 50px;
    }
    .main-section__titles{
        width: 350px;
        height: 400px;
    }
    .main-section__title{
        width: 217px;
        height: 135px;
        font-weight: 600;
        font-size: 36px;
        line-height: 45px;
    }
    .main-section__subtitle{
        margin-top: 27px;
        margin-bottom: 25px;
        height: 90px;
        width: 336px;    
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .learning{
        height: 380px;
        width: 380px;
        object-fit: cover;
        object-position: center;
    }
    .lampochka{
        position: relative;
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;
        top: -130px;
        left: -130px;
    }
    .main-section__img{
        height: 400px;
        margin-top: -80px;
        
    }
    .buttom{
        @include button_main767;
    }

}
@media screen and (max-width:576px){
    .container{
        max-width: 520px;
        margin: 0 auto;
        
    }
    br{
        display: none;
    }
    .main-section{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 18px;
        
    }
    .main-section__titles{
        
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-section__title{
        margin: 0;
        width: 492px;
        height: 45px;
        font-weight: 600;
        font-size: 34px;
        line-height: 45px;
    }
    .main-section__subtitle{
        text-align: center;
        margin-top: 26px;
        margin-bottom: 37px;
        width: 500px;
        height: 48px;   
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .learning{
        height: 480px;
        width: 480px;
        object-fit: cover;
        object-position: center;
    }
    .lampochka{
        display: none;
    }
    .main-section__img{
        
        width: 500px;
        
        
    }
    .buttom{
        @include button_main767;
    }
   

}
@media screen and (max-width:321px){
    .container{
        max-width: 300px;
        margin: 0 auto;
        
    }
    br{
        display: none;
    }
    .main-section{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 10px;
        
        
    }
    .main-section__titles{
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-section__title{
        margin: 0;
        width: 220px;
        height: 72px;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        line-height: 36px;
    }
    .main-section__subtitle{
        text-align: center;
        margin-top: 26px;
        
        width: 260px;
        height: 48px;   
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .learning{
        height: 300px;
        width: 300px;
        object-fit: cover;
        object-position: center;
    }
    .lampochka{
        display: none;
    }
    .main-section__img{
        
        width: 299px;
        
        
    }
    .buttom{
        margin-top: 41px;
        @include button_main767;
        
    }
    
}
