.section-skills{
    margin-top: 300px;
}
.section-skills__title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color:$ColorBlack;
}
.skills-box{
    display: flex;
}
.skill-box_right{
    display: flex;
    flex-direction: column;
}
.skill-box_left{
display: flex;
}
.skill-box4{
    &__title{
        @include skill-box1__title;
        margin-left: 48px;
        margin-top: 45px;
    }
    &__subtitle{
        @include skill-box_subtitle;
        margin-left: 48px;
        width: 440px;
        margin-bottom: 40px;
    }
    background-color:$ColorBox;
    width: 880px;
    height: 333px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 28px;
    margin-left: -452px;
    border-radius: 15px;
}
.skill-box3{
    &__title{
        margin-left: 32px;
        @include skill-box1__title;
    }
    &__subtitle{
        @include skill-box_subtitle;
        width: 370px;
        height: 72px;
        margin-left: 32px;
        margin-bottom: 32px;
    }

    border-radius: 15px;
    background-color:$ColorBox;
    width: 430px;
    height: 534px;
}
.skill-box2{
    &__title{
        margin-top: -40px;
        margin-left: 32px;
        @include skill-box1__title;

    }
    &__subtitle{
        @include skill-box_subtitle;
        margin-left: 32px;
        width: 370px;
        height: 72px;
        margin-bottom: 32px;
    }

    width: 430px;
    height: 534px;
    margin-right: 28px;
    background-color:$ColorBox;
    border-radius: 15px;
}
.skill-box1{
    &__title{
        width: 347px;
        height: 72px;
        margin-top: 20px;
        @include skill-box1__title;
        margin-left: 32px;
    }
    &__subtitle{
        @include skill-box_subtitle;
        margin-left: 32px;
    }
    
    background-color:$ColorBox;
    width: 454px;
    height: 894px;
    margin-right: 28px;
    border-radius: 15px;
}
.text{
    width: 320px;
    margin-top: 30px;
    @include skill-box_subtitle;
    margin-left: 32px;
    margin-bottom: 56px;
}
.but{
    @include but_skills;
    margin-left: 32px;
    
}
.skill-box2__img{
    width: 293px;
    height: 293px;
    margin-left: 130px;
}
.skill-box4__img{
    width: 382px;
    height: 255px;
    margin-top: 80px;
}
@media screen and (max-width:993px) {
    .container{
        max-width: 930px;
        margin: 0 auto;
    }
    .section-skills{
        margin-top: 300px;
        padding: 0 10px;
    }
    .skill-box1{
        margin-right: 18px;
        width: 303px;
        height: 700px;
        
        &__title{
            @include skill-box1__title992;
            margin-top: -10px;
        }
        &__subtitle{
            @include skill-box_subtitle992;
            

        }
        &__img{
            width: 260px;
            height: 260px;
            object-fit: cover;
            object-position: center;
            margin-left: 20px;
        }
    }
    .skill-box2{
        margin-right: 18px;
        width: 302px;
        height: 441px;
        &__title{
            @include skill-box1__title992;
        }
        &__subtitle{
            @include skill-box_subtitle992;
            width: 245px;
            height: 72px;
        }
        &__img{
            width: 205px;
            height: 205px;
            object-fit: cover;
            object-position: center;
            margin-left: 87px;
        }
    }
    .skill-box3{
        width: 302px;
        height: 441px;
        &__title{
            @include skill-box1__title992;
        }
        &__subtitle{
            @include skill-box_subtitle992;
            width: 267px;
            height: 72px;
        }
        &__img{
            width: 243px;
            height: 162px;
            object-fit: cover;
            object-position: center;
        }
    }
    .skill-box4{
        margin-left: -320px;
        margin-top: 18px;
        width: 620px;
        height: 241px;
        &__title{
            @include skill-box1__title992;
            margin-top: 0;
        }
        &_titles{
            margin-right: -160px;
        }
        &__subtitle{
            @include skill-box_subtitle992;
            margin-bottom: 20px;
        }
        &__img{
            width: 254px;
            height: 169px;
            object-fit: cover;
            object-position: center;
            margin-top: 33px;
            margin-right: 37px;
        }
    }
    .text{
        width: 258px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:768px) {
    .container{
        max-width: 0px;
        margin: 0 auto;
    }
    .section-skills{
        margin-top: 100px;
        padding: 0 30px;
    }
    .skill-box1{
        margin-right: 10px;
        width: 224px;
        height: 689px;
        
        &__title{
            @include skill-box1__title992;
            margin-top: -10px;
            margin-left: 16px;
        }
        &__subtitle{
            @include skill-box_subtitle992;
            width: 197px;
            margin-left: 16px;
        }
        &__img{
            width: 214px;
            height: 214px;
            object-fit: cover;
            object-position: center;
            margin-left: 10px;
        }
    }
    .text{
        margin-left: 16px;
        width: 197px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .skill-box2{
        margin-right: 10px;
        width: 302px;
        height: 441px;
        &__title{
            @include skill-box1__title992;
            margin-left: 16px;
        }
        &__subtitle{
            @include skill-box_subtitle992;
            width: 245px;
            height: 72px;
            margin-left: 16px;
        }
        &__img{
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: center;
            margin-left: 47px;
        }
    }
    .skill-box3{
        width: 302px;
        height: 441px;
        &__title{
            @include skill-box1__title992;
            margin-left: 16px;
        }
        &__subtitle{
            @include skill-box_subtitle992;
            width: 267px;
            height: 72px;
            margin-left: 16px;
        }
        &__img{
            width: 243px;
            height: 162px;
            object-fit: cover;
            object-position: center;
        }
    }
    .skill-box4{
        margin-left: -310px;
        margin-top: 10px;
        width: 616px;
        height: 241px;
        &__title{
            @include skill-box1__title992;
            margin-top: 0;
            margin-left: 16px;
        }
        &_titles{
            margin-right: -160px;
            
        }
        &__subtitle{
            @include skill-box_subtitle992;
            margin-bottom: 20px;
            width: 500px;
            margin-left: 16px;
        }
        &__img{
            width: 202px;
            height: 104px;
            object-fit: cover;
            object-position: center;
            margin-top: 45px;
            margin-right: 47px;
        }
    }
    .but{
        margin-left: 16px;
    }
}
@media screen and (max-width:576px) {
    .container{
        max-width: 510px;
        margin: 0 auto;
    }
    .skills-box{
        display: block;
        margin-left: -20px;
    }
    .skill-box_right{
        display: flex;
    }
    .skill-box_left{
    display: flex;
    
    }
    .skill-box1{
        
        width: 240px;
        height: 534px;
        
        &__title{
            @include skill-box1__title992;
            margin-top: -20px;
            margin-left: 16px;
        }
        &__subtitle{
            @include skill-box_subtitle992;
            width: 225px;
            margin-left: 16px;
            margin-top: -20px;
        }
        &__img{
            width: 185px;
            height: 185px;
            object-fit: cover;
            object-position: center;
            margin-left: 10px;
        }
    }
    .text{
        @include skill-box_subtitle992;
        margin-left: 16px;
        width: 225px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .skill-box2{
        margin-right: 10px;
        width: 240px;
        height: 534px;
        &__title{
            @include skill-box1__title992;
            margin-left: 16px;
        }
        &__subtitle{
            @include skill-box_subtitle992;
            width: 225px;
            height: 170px;
            margin-left: 16px;
        }
        &__img{
            width: 205px;
            height: 205px;
            object-fit: cover;
            object-position: center;
            margin-left: 47px;
        }
    }
    .skill-box3{
        margin-top: 34px;
        width: 240px;
        height: 534px;
        &__title{
            @include skill-box1__title992;
            margin-left: 16px;
            width: 50px;
            margin-top: 20px;
        }
        &__subtitle{
            @include skill-box_subtitle992;
            width: 198px;
            height: 178px;
            margin-left: 16px;
        }
        &__img{
            width: 236px;
            height: 127px;
            
            object-fit: cover;
            object-position: center;
        }
    }
    .skill-box4{
        
        margin-left: 250px;
        margin-top: -535px;
        width: 240px;
        height: 534px;
        &__title{
            @include skill-box1__title992;
            margin-top: 0;
            margin-left: 16px;
        }
        
        &__subtitle{
            @include skill-box_subtitle992;
            width: 200px;
            height: 195px;
        }
        &__img{
            width: 202px;
            height: 104px;
            object-fit: cover;
            object-position: center;
            margin-top: 45px;
            margin-right: 47px;
        }
    }
    .but{
        margin-left: 16px;
    }
    .skill-box4_titles{
        display: flex;
        flex-direction: column;
        margin-right: -200px;
        margin-top: 150px;
        
    }
}
@media screen and (max-width:321px) {
    .container{
        max-width: 290px;
        margin: 0 auto;
    }
    .section-skills{
        margin-top: 150px;
    }
    .skills-box{
        margin-top: 150px;
        display: block;
        padding: 0 15px;
    }
    .skill-box_right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skill-box_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .skills-box{
        margin-top: 10px;
        display: block;
        margin-left: 20px;
    }
    .skill-box_right{
        display: flex;
        
    }
    .skill-box_left{
    display: flex;
    
    }
    .skill-box1{
        
        width: 290px;
        height: 600px;
        
        &__title{
            @include skill-box1__title;

            margin-left: 16px;
        }
        &__subtitle{
            @include skill-box_subtitle;
            width: 258px;
            margin-left: 16px;
            margin-top: -20px;
        }
        &__img{
            width: 213px;
            height: 213px;
            object-fit: cover;
            object-position: center;
            margin-left: 30px;
        }
    }
    .text{
        @include skill-box_subtitle;
        margin-left: 16px;
        width: 258px;
        height: 99px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .skill-box2{
        margin-right: 10px;
        width: 290px;
        height: 463px;
        margin-top: 30px;
        &__title{
            @include skill-box1__title;
            margin-left: 16px;
        }
        &__subtitle{
            @include skill-box_subtitle;
            width: 258px;
            height: 102px;
            margin-left: 16px;
        }
        &__img{
            width: 205px;
            height: 205px;
            object-fit: cover;
            object-position: center;
            margin-left: 47px;
        }
    }
    .skill-box3{
        margin-top: 34px;
        width: 290px;
        height: 463px;
        &__title{
            @include skill-box1__title;
            margin-left: 16px;
            width: 50px;
            margin-top: 20px;
        }
        &__subtitle{
            @include skill-box_subtitle;
            width: 258px;
            height: 99px;
            margin-left: 16px;
        }
        &__img{
            width: 236px;
            height: 157px;
            margin-right: 50px;
            object-fit: cover;
            object-position: center;
        }
    }
    .skill-box4{
        margin: 0;
        padding: 0;
        margin-top: 34px;
        width: 290px;
        height: 473px;
        &__title{
            @include skill-box1__title;
            margin-top: 0;
            margin-left: 16px;
        }
        
        &__subtitle{
            @include skill-box_subtitle;
            width: 258px;
            height: 110px;
            
        }
        &__img{
            width: 232px;
            height: 154px;
            object-fit: cover;
            object-position: center;
            margin-top: 45px;
            margin-right: 47px;
        }
    }
    .but{
        margin-left: 16px;
        @include but_skills320;  
    }
    .skill-box4_titles{
        display: flex;
        flex-direction: column;
        margin-right: -260px;
        margin-top: 180px;
        
    }
}

